{% extends "admin/_template.html.twig" %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
        {{ form_start(artist_form)}}
            {{ form_row(artist_form.name, {
                label: 'Nom du label:',
                help: 'Indiquez le noms du label.'
            }) }}

            {{ form_row(artist_form.description, {
                label: 'Description:',
                help: 'Texte présentant le label.'
            }) }}

            <button type="submit" class="button is-fullwidth is-primary">
                Valider
            </button>
        {{ form_end(artist_form) }}
{% endblock %}